.node-red/.flows_miguel-Inspiron-5570.json.backup
[{"id":"e917c28f.2ced8","type":"tab","label":"Mosca MQTT Broker","disabled":false,"info":""},{"id":"b755200a.71ecb","type":"mqtt-broker","z":"","name":"MOSCA MQTT Broker","broker":"127.0.0.1","port":"1885","clientid":"Alarm","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"8d825001.8af32","type":"debug","z":"e917c28f.2ced8","name":"Debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":630,"y":120,"wires":[]},{"id":"bf3e90f7.802fb","type":"mosca in","z":"e917c28f.2ced8","mqtt_port":"1885","mqtt_ws_port":8080,"name":"MQTT Broker","username":"admin","password":"uniovi","dburl":"","x":390,"y":120,"wires":[["8d825001.8af32"]]},{"id":"af0f0b5b.068548","type":"comment","z":"e917c28f.2ced8","name":"README","info":"# Publish data\nmosquitto_pub -h 127.0.0.1 -p 1885 -u admin -P uniovi -t sensors/temperature -m 12.0\n\n# Subscribe data\nmosquitto_sub -h 127.0.0.1 -p 1885 -u admin -P uniovi -t sensors/temperature","x":140,"y":60,"wires":[]},{"id":"1dd2a36.13adc5d","type":"mqtt in","z":"e917c28f.2ced8","name":"","topic":"sensors/temperature","qos":"2","broker":"b755200a.71ecb","x":410,"y":300,"wires":[["b4317bf8.69b828"]]},{"id":"a35295c.a1c9d68","type":"debug","z":"e917c28f.2ced8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":780,"y":240,"wires":[]},{"id":"b4317bf8.69b828","type":"switch","z":"e917c28f.2ced8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"0","vt":"num","v2":"40","v2t":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":600,"y":300,"wires":[["a35295c.a1c9d68"],["fe13c8a1.de3828"]]},{"id":"fe13c8a1.de3828","type":"e-mail","z":"e917c28f.2ced8","server":"smtp.gmail.com","port":"465","secure":true,"name":"masalinas.gancedo@gmail.com","dname":"Alarm email","x":780,"y":340,"wires":[]}]