.node-red/.flows.json.backup
[{"id":"5102d883.c2c898","type":"tab","label":"Broker","disabled":false,"info":""},{"id":"c46e855e.cd0ae8","type":"tab","label":"Simulator","disabled":false,"info":""},{"id":"aee6a3df.d573e","type":"tab","label":"Measure Flow","disabled":false,"info":""},{"id":"99f251e.39ee3b","type":"mqtt-broker","z":"","name":"MOSCA MQTT Broker","broker":"127.0.0.1","port":"1885","clientid":"Alarm","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"de1729b5.f26258","type":"debug","z":"5102d883.c2c898","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":366,"y":140,"wires":[]},{"id":"bc1feed7.72f32","type":"mosca in","z":"5102d883.c2c898","mqtt_port":"1885","mqtt_ws_port":8080,"name":"MQTT Broker","username":"admin","password":"uniovi","dburl":"","x":190,"y":140,"wires":[["de1729b5.f26258"]]},{"id":"3e982cb9.e31db4","type":"comment","z":"5102d883.c2c898","name":"README","info":"# Description\nMosca Broker: MQTT Message Broker implemented in NodeJS\n\n# Configuration and broker credentials\nMQTT Port: 1885\nWebSocket Port: 8080\nusername: admin\npassword: uniovi\ntopic: sensors/temperature\n\n# Debug from mosquitto tools\n- Publish data using mosquitto tools:\n  mosquitto_pub -h 127.0.0.1 -p 1885 -u admin -P uniovi -t sensors/temperature -m 12.0\n \n- Subscribe data using mosquitto tools:\n  mosquitto_sub -h 127.0.0.1 -p 1885 -u admin -P uniovi -t sensors/temperature","x":80,"y":60,"wires":[]},{"id":"f231ce1f.26c9b","type":"inject","z":"c46e855e.cd0ae8","name":"Timer","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":140,"wires":[["ab3018c1.fac668"]]},{"id":"ab3018c1.fac668","type":"function","z":"c46e855e.cd0ae8","name":"Debug","func":"const MAX = 40;\nconst MIN = 0;\n\nvar VALUE = Math.floor(Math.random() * (MAX - MIN)) + MIN;\n\n// measure ramdom\nmsg.payload = VALUE;\n\nreturn msg;","outputs":1,"noerr":0,"x":359,"y":140,"wires":[["3fe9a2ce.90c7ce"]]},{"id":"3fe9a2ce.90c7ce","type":"mqtt out","z":"c46e855e.cd0ae8","name":"Sensor topic","topic":"sensors/temperature","qos":"","retain":"","broker":"99f251e.39ee3b","x":530,"y":140,"wires":[]},{"id":"9fc8fc16.824ff","type":"comment","z":"c46e855e.cd0ae8","name":"README","info":"# Description\nA simulator that inject random measures between 0℃ to 40 ℃  \n\n# Configuration\nDefault trigger frequency is 5 seconds","x":80,"y":60,"wires":[]},{"id":"6f7c76c0.2da048","type":"mqtt in","z":"aee6a3df.d573e","name":"Sensor topic","topic":"sensors/temperature","qos":"2","broker":"99f251e.39ee3b","x":150,"y":440,"wires":[["6ed0c033.d9789"]]},{"id":"2c72f679.cd796a","type":"debug","z":"aee6a3df.d573e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":990,"y":427,"wires":[]},{"id":"cc77d51f.2670c8","type":"switch","z":"aee6a3df.d573e","name":"Alarm Switch","property":"payload.value","propertyType":"msg","rules":[{"t":"btwn","v":"0","vt":"num","v2":"40","v2t":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":830,"y":447,"wires":[["2c72f679.cd796a"],["ddb1be7b.8c289"]]},{"id":"ddb1be7b.8c289","type":"e-mail","z":"aee6a3df.d573e","server":"smtp.gmail.com","port":"465","secure":true,"name":"masalinas.gancedo@gmail.com","dname":"Alarm email","x":990,"y":467,"wires":[]},{"id":"aac56176.5b402","type":"http request","z":"aee6a3df.d573e","name":"Historize","method":"POST","ret":"obj","url":"http://localhost:3000/api/Measures/historize","tls":"","x":678,"y":347,"wires":[["cc77d51f.2670c8"]]},{"id":"6ed0c033.d9789","type":"function","z":"aee6a3df.d573e","name":"Payload","func":"var measure = {\n  \"device\": \"TP01\",\n  \"value\": Number(msg.payload),\n  \"date\": new Date()\n};\n\nmsg.payload = measure;\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":440,"wires":[["a68b49b8.f70c08"]]},{"id":"dac4683d.c89268","type":"catch","z":"aee6a3df.d573e","name":"Error","scope":["aac56176.5b402","bc1feed7.72f32"],"x":250,"y":567,"wires":[["8912fc7a.83099"]]},{"id":"8912fc7a.83099","type":"debug","z":"aee6a3df.d573e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":460,"y":568,"wires":[]},{"id":"1541648e.1a709b","type":"inject","z":"aee6a3df.d573e","name":"ON","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":120,"wires":[["6f84dbe8.3e9594"]]},{"id":"6f84dbe8.3e9594","type":"function","z":"aee6a3df.d573e","name":"Persistence Selector","func":"// control lights from node status\nif (msg.payload === true)\n    node.status({fill: 'green', shape: 'dot', text: 'ON'});\nelse\n    node.status({fill: 'red', shape: 'dot', text: 'OFF'});\n\n// set Persistence Status\nflow.set(\"Status\", msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":148,"wires":[["4cf2a50c.adb54c"]]},{"id":"a68b49b8.f70c08","type":"switch","z":"aee6a3df.d573e","name":"Persistence Status","property":"Status","propertyType":"flow","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":510,"y":440,"wires":[["aac56176.5b402"],["cc77d51f.2670c8"]]},{"id":"4cf2a50c.adb54c","type":"debug","z":"aee6a3df.d573e","name":"Persistence Status","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":563,"y":148,"wires":[]},{"id":"ceb13249.c2a67","type":"comment","z":"aee6a3df.d573e","name":"SELECTOR","info":"# Description\nA Simple selector to control the measure persistence.\n\n# Configuration\nDefault Status: OFF","x":90,"y":60,"wires":[]},{"id":"9c955c3e.107f7","type":"comment","z":"aee6a3df.d573e","name":"README","info":"# Description\nPersistence and Alarm flow. Control de persistence node using the Persistence Switch\n\n# Configuration and Database credentials \nusername: uniovi\npassword: thingtrack\ndatabase: uniovidb\n\n# Measure Alarm interval\nmin: 0℃\nmax: 40℃","x":80,"y":300,"wires":[]},{"id":"ca769d30.db3e4","type":"inject","z":"aee6a3df.d573e","name":"OFF","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":150,"y":180,"wires":[["6f84dbe8.3e9594"]]}]