.node-red/.flows.json.backup
[{"id":"5102d883.c2c898","type":"tab","label":"Uniovi Iot Gateway","disabled":false,"info":""},{"id":"99f251e.39ee3b","type":"mqtt-broker","z":"","name":"MOSCA MQTT Broker","broker":"127.0.0.1","port":"1885","clientid":"Alarm","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"de1729b5.f26258","type":"debug","z":"5102d883.c2c898","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":650,"y":120,"wires":[]},{"id":"bc1feed7.72f32","type":"mosca in","z":"5102d883.c2c898","mqtt_port":"1885","mqtt_ws_port":8080,"name":"MQTT Broker","username":"admin","password":"uniovi","dburl":"","x":410,"y":120,"wires":[["de1729b5.f26258"]]},{"id":"3e982cb9.e31db4","type":"comment","z":"5102d883.c2c898","name":"README","info":"# Mosca: MQTT Message Broker implemented in NodeJS\n\n# To check the Broker from mosquitto tools\n# Publish data using mosquitto tools\nmosquitto_pub -h 127.0.0.1 -p 1885 -u admin -P uniovi -t sensors/temperature -m 12.0\n\n# Subscribe data using mosquitto tools\nmosquitto_sub -h 127.0.0.1 -p 1885 -u admin -P uniovi -t sensors/temperature","x":80,"y":60,"wires":[]},{"id":"2b52dd54.7f6a02","type":"mqtt in","z":"5102d883.c2c898","name":"Sensor topic","topic":"sensors/temperature","qos":"2","broker":"99f251e.39ee3b","x":170,"y":540,"wires":[["1dfbea10.b184e6"]]},{"id":"a6962567.132698","type":"debug","z":"5102d883.c2c898","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1010,"y":527,"wires":[]},{"id":"70c905fa.aaacfc","type":"switch","z":"5102d883.c2c898","name":"Alarm Switch","property":"payload.value","propertyType":"msg","rules":[{"t":"btwn","v":"0","vt":"num","v2":"40","v2t":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":850,"y":547,"wires":[["a6962567.132698"],["b7b65bb.3ce0ba8"]]},{"id":"b7b65bb.3ce0ba8","type":"e-mail","z":"5102d883.c2c898","server":"smtp.gmail.com","port":"465","secure":true,"name":"masalinas.gancedo@gmail.com","dname":"Alarm email","x":1010,"y":567,"wires":[]},{"id":"116742d6.98d74d","type":"http request","z":"5102d883.c2c898","name":"Historize","method":"POST","ret":"obj","url":"http://localhost:3000/api/Measures/historize","tls":"","x":698,"y":447,"wires":[["70c905fa.aaacfc"]]},{"id":"1dfbea10.b184e6","type":"function","z":"5102d883.c2c898","name":"Payload","func":"var measure = {\n  \"device\": \"TP01\",\n  \"value\": Number(msg.payload),\n  \"date\": new Date()\n};\n\nmsg.payload = measure;\n\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":540,"wires":[["6579a6c9.9b46c8"]]},{"id":"1e73e826.c01978","type":"catch","z":"5102d883.c2c898","name":"Error","scope":["b7b65bb.3ce0ba8","70c905fa.aaacfc","de1729b5.f26258","76237e6f.efe74","116742d6.98d74d","bc1feed7.72f32","a6962567.132698","2aea4253.99992e","883414bc.2e8a48","1ff08fa3.00168","1dfbea10.b184e6","6579a6c9.9b46c8","6c0b0124.e87ad","3e982cb9.e31db4","7418e90e.211288","882ca7ad.007c68","a0dc5e41.d552e","2b52dd54.7f6a02","b56a432b.d159f","495a5a1d.f21b74","7f683fdb.a304e"],"x":270,"y":667,"wires":[["2aea4253.99992e"]]},{"id":"2aea4253.99992e","type":"debug","z":"5102d883.c2c898","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":480,"y":668,"wires":[]},{"id":"1ff08fa3.00168","type":"inject","z":"5102d883.c2c898","name":"ON","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":280,"wires":[["6c0b0124.e87ad"]]},{"id":"6c0b0124.e87ad","type":"function","z":"5102d883.c2c898","name":"Persistence Switch","func":"// control lights from node status\nif (msg.payload === true)\n    node.status({fill: 'green', shape: 'dot', text: 'ON'});\nelse\n    node.status({fill: 'red', shape: 'dot', text: 'OFF'});\n\n// set Persistence Status\nflow.set(\"Status\", msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":308,"wires":[["495a5a1d.f21b74"]]},{"id":"6579a6c9.9b46c8","type":"switch","z":"5102d883.c2c898","name":"Persistence Status","property":"Status","propertyType":"flow","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":530,"y":540,"wires":[["116742d6.98d74d"],["70c905fa.aaacfc"]]},{"id":"495a5a1d.f21b74","type":"debug","z":"5102d883.c2c898","name":"Status","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":523,"y":308,"wires":[]},{"id":"7418e90e.211288","type":"comment","z":"5102d883.c2c898","name":"README","info":"# A Simple Switch flow\nSwitch ON/OFF the persistence task","x":80,"y":220,"wires":[]},{"id":"882ca7ad.007c68","type":"comment","z":"5102d883.c2c898","name":"README","info":"# Persistence and Alarm flow\nControl de persistence node using the Persistence Switch\n\n# Credentials Database \nusername: uniovi\npassword: thingtrack\ndatabase: uniovidb","x":80,"y":480,"wires":[]},{"id":"883414bc.2e8a48","type":"inject","z":"5102d883.c2c898","name":"OFF","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":150,"y":340,"wires":[["6c0b0124.e87ad"]]},{"id":"7f683fdb.a304e","type":"inject","z":"5102d883.c2c898","name":"Timer","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":840,"wires":[["76237e6f.efe74"]]},{"id":"76237e6f.efe74","type":"function","z":"5102d883.c2c898","name":"Debug","func":"const MAX = 40;\nconst MIN = 0;\n\nvar VALUE = Math.floor(Math.random() * (MAX - MIN)) + MIN;\n\n// measure ramdom\nmsg.payload = VALUE;\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":840,"wires":[["b56a432b.d159f"]]},{"id":"b56a432b.d159f","type":"mqtt out","z":"5102d883.c2c898","name":"","topic":"sensors/temperature","qos":"","retain":"","broker":"99f251e.39ee3b","x":520,"y":840,"wires":[]},{"id":"a0dc5e41.d552e","type":"comment","z":"5102d883.c2c898","name":"README","info":"# Persistence and Alarm flow\nBOT Debug","x":80,"y":780,"wires":[]}]