.node-red/flows.json
[{"id":"5102d883.c2c898","type":"tab","label":"Message Broker","disabled":false,"info":""},{"id":"c46e855e.cd0ae8","type":"tab","label":"Simulator","disabled":false,"info":""},{"id":"aee6a3df.d573e","type":"tab","label":"Message Router","disabled":false,"info":""},{"id":"b1d9db4c.f2df38","type":"tab","label":"Dashboard","disabled":false,"info":""},{"id":"99f251e.39ee3b","type":"mqtt-broker","z":"","name":"MOSCA MQTT Broker","broker":"127.0.0.1","port":"1885","clientid":"Alarm","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"2e06cf9e.0e726","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"dde0a007.2b567","type":"ui_group","z":"","name":"Node-Red Dashboard Measures","tab":"2e06cf9e.0e726","disp":true,"width":"6","collapse":false},{"id":"28d3eae2.8771d6","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"true","lockMenu":"true","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":120,"sy":75,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"de1729b5.f26258","type":"debug","z":"5102d883.c2c898","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":366,"y":140,"wires":[]},{"id":"bc1feed7.72f32","type":"mosca in","z":"5102d883.c2c898","mqtt_port":"1885","mqtt_ws_port":8080,"name":"MQTT Broker","username":"admin","password":"uniovi","dburl":"","x":190,"y":140,"wires":[["de1729b5.f26258"]]},{"id":"3e982cb9.e31db4","type":"comment","z":"5102d883.c2c898","name":"README","info":"# Description\nMosca Broker: MQTT Message Broker implemented in NodeJS\n\n# Configuration and broker credentials\nMQTT Port: 1885\nWebSocket Port: 8080\nusername: admin\npassword: uniovi\ntopic: sensors/temperature\n\n# Debug from mosquitto tools\n- Publish data using mosquitto tools:\n  mosquitto_pub -h 127.0.0.1 -p 1885 -u admin -P uniovi -t sensors/temperature -m 12.0\n \n- Subscribe data using mosquitto tools:\n  mosquitto_sub -h 127.0.0.1 -p 1885 -u admin -P uniovi -t sensors/temperature","x":80,"y":60,"wires":[]},{"id":"f231ce1f.26c9b","type":"inject","z":"c46e855e.cd0ae8","name":"Timer","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":140,"wires":[["ab3018c1.fac668"]]},{"id":"ab3018c1.fac668","type":"function","z":"c46e855e.cd0ae8","name":"Random Measure","func":"// calculate random measure value\nconst MAX = 40;\nconst MIN = 0;\n\nvar VALUE = Math.floor(Math.random() * (MAX - MIN)) + MIN;\n\n// create measure object\nvar measure = {device: 'TP01',\n               value: VALUE, \n               date: new Date()};\n\n// publish measure\nmsg.payload = measure;\n\nreturn msg;","outputs":1,"noerr":0,"x":392,"y":140,"wires":[["3fe9a2ce.90c7ce"]]},{"id":"3fe9a2ce.90c7ce","type":"mqtt out","z":"c46e855e.cd0ae8","name":"TP01 topic","topic":"uniovi/poc/temperature/TP01","qos":"","retain":"","broker":"99f251e.39ee3b","x":610,"y":140,"wires":[]},{"id":"9fc8fc16.824ff","type":"comment","z":"c46e855e.cd0ae8","name":"README","info":"# Description\nA simulator that inject random measures between 0℃ to 40 ℃  \n\n# Configuration\nDefault trigger frequency is 5 seconds","x":80,"y":60,"wires":[]},{"id":"6f7c76c0.2da048","type":"mqtt in","z":"aee6a3df.d573e","name":"Sensor topic","topic":"uniovi/poc/#","qos":"2","broker":"99f251e.39ee3b","x":150,"y":440,"wires":[["8821e5d6.920818"]]},{"id":"2c72f679.cd796a","type":"debug","z":"aee6a3df.d573e","name":"Measure","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1240,"y":400,"wires":[]},{"id":"cc77d51f.2670c8","type":"switch","z":"aee6a3df.d573e","name":"Alarm Switch","property":"payload.device","propertyType":"msg","rules":[{"t":"eq","v":"TP01","vt":"str"},{"t":"eq","v":"RH01","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":836,"y":447,"wires":[["62f16edd.88665"],["239d3547.17bc8a"]]},{"id":"ddb1be7b.8c289","type":"e-mail","z":"aee6a3df.d573e","server":"smtp.gmail.com","port":"465","secure":true,"name":"masalinas.gancedo@gmail.com","dname":"Alarm email","x":1250,"y":486,"wires":[]},{"id":"aac56176.5b402","type":"http request","z":"aee6a3df.d573e","name":"Historize","method":"POST","ret":"obj","url":"http://localhost:3000/api/Measures/historize","tls":"","x":678,"y":347,"wires":[["cc77d51f.2670c8"]]},{"id":"dac4683d.c89268","type":"catch","z":"aee6a3df.d573e","name":"Error","scope":["aac56176.5b402","bc1feed7.72f32"],"x":250,"y":567,"wires":[["8912fc7a.83099"]]},{"id":"8912fc7a.83099","type":"debug","z":"aee6a3df.d573e","name":"Error Status","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":460,"y":568,"wires":[]},{"id":"1541648e.1a709b","type":"inject","z":"aee6a3df.d573e","name":"ON","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":120,"wires":[["6f84dbe8.3e9594"]]},{"id":"6f84dbe8.3e9594","type":"function","z":"aee6a3df.d573e","name":"Persistence Selector","func":"// control lights from node status\nif (msg.payload === true)\n    node.status({fill: 'green', shape: 'dot', text: 'ON'});\nelse\n    node.status({fill: 'red', shape: 'dot', text: 'OFF'});\n\n// set Persistence Status\nflow.set(\"Status\", msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":148,"wires":[["4cf2a50c.adb54c"]]},{"id":"a68b49b8.f70c08","type":"switch","z":"aee6a3df.d573e","name":"Persistence Status","property":"Status","propertyType":"flow","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":510,"y":440,"wires":[["aac56176.5b402"],["cc77d51f.2670c8"]]},{"id":"4cf2a50c.adb54c","type":"debug","z":"aee6a3df.d573e","name":"Persistence Status","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":563,"y":148,"wires":[]},{"id":"ceb13249.c2a67","type":"comment","z":"aee6a3df.d573e","name":"SELECTOR","info":"# Description\nA Simple selector to control the measure persistence.\n\n# Configuration\nDefault Status: OFF","x":90,"y":60,"wires":[]},{"id":"9c955c3e.107f7","type":"comment","z":"aee6a3df.d573e","name":"README","info":"# Description\nPersistence and Alarm flow. Control de persistence node using the Persistence Switch\n\n# Configuration and Database credentials \nusername: uniovi\npassword: thingtrack\ndatabase: uniovidb\n\n# Measure Alarm interval\nmin: 0℃\nmax: 40℃","x":80,"y":300,"wires":[]},{"id":"ca769d30.db3e4","type":"inject","z":"aee6a3df.d573e","name":"OFF","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":150,"y":180,"wires":[["6f84dbe8.3e9594"]]},{"id":"8c80a436.c13658","type":"ui_chart","z":"b1d9db4c.f2df38","name":"","group":"dde0a007.2b567","order":0,"width":0,"height":0,"label":"Measure Chart","chartType":"line","legend":"true","xformat":"DD/MM/YYYY HH:mm:ss","interpolate":"bezier","nodata":"","dot":true,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"100","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":820,"y":300,"wires":[[],[]]},{"id":"5d4e0111.646f6","type":"link out","z":"aee6a3df.d573e","name":"","links":["5601a17.b332f6"],"x":435,"y":500,"wires":[]},{"id":"5601a17.b332f6","type":"link in","z":"b1d9db4c.f2df38","name":"","links":["5d4e0111.646f6"],"x":255,"y":160,"wires":[["df629819.8ecaa8"]]},{"id":"d56a9da3.cd114","type":"ui_gauge","z":"b1d9db4c.f2df38","name":"","group":"dde0a007.2b567","order":1,"width":"3","height":"3","gtype":"gage","title":"Temperature Gauge","label":"Temperature [℃]","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":840,"y":60,"wires":[]},{"id":"c61f70f0.e5baa","type":"comment","z":"b1d9db4c.f2df38","name":"README","info":"# Description\nNode-RED Dashboard","x":80,"y":60,"wires":[]},{"id":"aeb862e3.3e045","type":"inject","z":"c46e855e.cd0ae8","name":"Timer","topic":"","payload":"","payloadType":"date","repeat":"6","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":220,"wires":[["9f298dcb.8e053"]]},{"id":"9f298dcb.8e053","type":"function","z":"c46e855e.cd0ae8","name":"Random Measure","func":"// calculate random measure value\nconst MAX = 40;\nconst MIN = 70;\n\nvar VALUE = Math.floor(Math.random() * (MAX - MIN)) + MIN;\n\n// create measure object\nvar measure = {device: 'RH01',\n               value: VALUE, \n               date: new Date()};\n\n// publish measure\nmsg.payload = measure;\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":220,"wires":[["462f5ad.1cfc6a4"]]},{"id":"462f5ad.1cfc6a4","type":"mqtt out","z":"c46e855e.cd0ae8","name":"RH01 topic","topic":"uniovi/poc/humidity/RH01","qos":"","retain":"","broker":"99f251e.39ee3b","x":610,"y":220,"wires":[]},{"id":"8821e5d6.920818","type":"json","z":"aee6a3df.d573e","name":"","property":"payload","action":"","pretty":false,"x":323,"y":440,"wires":[["a68b49b8.f70c08","5d4e0111.646f6"]]},{"id":"94d250b4.6e778","type":"ui_gauge","z":"b1d9db4c.f2df38","name":"","group":"dde0a007.2b567","order":2,"width":"3","height":"3","gtype":"gage","title":"Humidity Gauge","label":"RH [%]","format":"{{value}}","min":"40","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":820,"y":120,"wires":[]},{"id":"df629819.8ecaa8","type":"switch","z":"b1d9db4c.f2df38","name":"Device Selector","property":"payload.device","propertyType":"msg","rules":[{"t":"eq","v":"TP01","vt":"str"},{"t":"eq","v":"RH01","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":400,"y":160,"wires":[["4e48c2b.142e63c"],["ae7a2e20.7d47a"]]},{"id":"ae7a2e20.7d47a","type":"function","z":"b1d9db4c.f2df38","name":"Serializer","func":"msg.topic = msg.payload.device;\nmsg.payload = msg.payload.value;\n\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":200,"wires":[["94d250b4.6e778","8c80a436.c13658"]]},{"id":"4e48c2b.142e63c","type":"function","z":"b1d9db4c.f2df38","name":"Serializer","func":"msg.topic = msg.payload.device;\nmsg.payload = msg.payload.value;\n\nreturn msg;","outputs":1,"noerr":0,"x":581,"y":123,"wires":[["d56a9da3.cd114","8c80a436.c13658"]]},{"id":"62f16edd.88665","type":"switch","z":"aee6a3df.d573e","name":"Temperature Alarm","property":"payload.value","propertyType":"msg","rules":[{"t":"btwn","v":"0","vt":"num","v2":"40","v2t":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1025,"y":406,"wires":[["2c72f679.cd796a"],["ddb1be7b.8c289"]]},{"id":"239d3547.17bc8a","type":"switch","z":"aee6a3df.d573e","name":"Humidity Alarm","property":"payload.value","propertyType":"msg","rules":[{"t":"btwn","v":"30","vt":"num","v2":"70","v2t":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1017,"y":480,"wires":[["2c72f679.cd796a"],["ddb1be7b.8c289"]]}]