.node-red/flows.json
[{"id":"5102d883.c2c898","type":"tab","label":"Uniovi Iot Gateway","disabled":false,"info":""},{"id":"99f251e.39ee3b","type":"mqtt-broker","z":"","name":"MOSCA MQTT Broker","broker":"127.0.0.1","port":"1885","clientid":"Alarm","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"de1729b5.f26258","type":"debug","z":"5102d883.c2c898","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":650,"y":120,"wires":[]},{"id":"bc1feed7.72f32","type":"mosca in","z":"5102d883.c2c898","mqtt_port":"1885","mqtt_ws_port":8080,"name":"MQTT Broker","username":"admin","password":"uniovi","dburl":"","x":410,"y":120,"wires":[["de1729b5.f26258"]]},{"id":"3e982cb9.e31db4","type":"comment","z":"5102d883.c2c898","name":"README","info":"# Publish data using mosquitto tools\nmosquitto_pub -h 127.0.0.1 -p 1885 -u admin -P uniovi -t sensors/temperature -m 12.0\n\n# Subscribe data using mosquitto tools\nmosquitto_sub -h 127.0.0.1 -p 1885 -u admin -P uniovi -t sensors/temperature\n\n# database mongoDB\nusername: uniovi\npassword: thingtrack\ndatabase: uniovidb","x":160,"y":60,"wires":[]},{"id":"2b52dd54.7f6a02","type":"mqtt in","z":"5102d883.c2c898","name":"Sensor topic","topic":"sensors/temperature","qos":"2","broker":"99f251e.39ee3b","x":230,"y":300,"wires":[["1dfbea10.b184e6"]]},{"id":"a6962567.132698","type":"debug","z":"5102d883.c2c898","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":930,"y":260,"wires":[]},{"id":"70c905fa.aaacfc","type":"switch","z":"5102d883.c2c898","name":"Alarm Switch","property":"payload.value","propertyType":"msg","rules":[{"t":"btwn","v":"0","vt":"num","v2":"40","v2t":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":730,"y":300,"wires":[["a6962567.132698"],["b7b65bb.3ce0ba8"]]},{"id":"b7b65bb.3ce0ba8","type":"e-mail","z":"5102d883.c2c898","server":"smtp.gmail.com","port":"465","secure":true,"name":"masalinas.gancedo@gmail.com","dname":"Alarm email","x":940,"y":326,"wires":[]},{"id":"116742d6.98d74d","type":"http request","z":"5102d883.c2c898","name":"Persist","method":"POST","ret":"obj","url":"http://localhost:3000/measures","tls":"","x":570,"y":300,"wires":[["70c905fa.aaacfc"]]},{"id":"1dfbea10.b184e6","type":"function","z":"5102d883.c2c898","name":"Payload","func":"var measure = {\n  \"device\": \"TP01\",\n  \"value\": Number(msg.payload),\n  \"date\": new Date()\n};\n\nmsg.payload = measure;\n\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":300,"wires":[["116742d6.98d74d"]]},{"id":"1e73e826.c01978","type":"catch","z":"5102d883.c2c898","name":"Error","scope":["116742d6.98d74d"],"x":310,"y":460,"wires":[["2aea4253.99992e"]]},{"id":"2aea4253.99992e","type":"debug","z":"5102d883.c2c898","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":520,"y":461,"wires":[]}]